<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="livros" href="/tabs/livros">
      <ion-icon aria-hidden="true" name="book"></ion-icon>
      <ion-label>Livros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="desejos" href="/tabs/desejos">
      <ion-icon aria-hidden="true" name="bookmark"></ion-icon>
      <ion-label>Lista de Desejos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="adquiridos" href="/tabs/adquiridos">
      <ion-icon aria-hidden="true" name="checkmark-circle"></ion-icon>
      <ion-label>Adquiridos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
