<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Desejos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista de Desejos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input
        placeholder="Digite o nome do livro aqui"
        [(ngModel)]="newBook"
        (keyup.enter)="addBook()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-list id="wishlist" *ngFor="let book of books" class="ion-padding">
    <ion-item>
      <ion-checkbox
        labelPlacement="end"
        justify="start"
        (ionChange)="toggleAcquired($event, book)"
        [checked]="book.acquired"
        >{{ book.name }}</ion-checkbox
      >

      <ion-button (click)="deleteBook(book)" color="danger" fill="clear">
        <ion-icon slot="start" name="trash"></ion-icon>
        Excluir
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
