<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Livros </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Livros</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let availableBook in availableBooks">
      <!-- <img [src]="availableBook.cover" alt="" /> -->
      <ion-card-header>
        <ion-card-title>{{availableBook.name}}</ion-card-title>
        <ion-card-subtitle>{{availableBook.author}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> {{availableBook.desc}} </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
